<head>
    <title>rassemblement.html</title>
</head>


<template name="rassemblement">
<div class="container">
    <h3>rassemblement.html</h3>
    <h4>Liste des Groupes</h4>
    <div class="row">
        {{> groupesList}}
    </div>
    <h4>Liste des Agences</h4>
    <div class="row">
            {{> agencesList}}
    </div>

    <h4>Liste des AgencesInversées ayant une adresse.</h4>
    <div class="row">
        {{> agencesListInv}}
    </div>

    <h4>Toutes les agences</h4>
    <div class="row">
        {{> toutesLesAgences}}
    </div>
</div>
</template>

