<template name="rassemblement">
    <div class="container-fluid">
        <h3>rassemblement.html</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Liste des Groupes</div>
                    <div class="panel-body">
                        {{> groupesList}}
                    </div>
                </div>
                  </div>
            <div class="col-md-3">
                <h4>Liste des Agences</h4>
                 {{> agencesList}}
            </div>

            <div class="col-md-3">
            <h4>Liste des AgencesInversées ayant une adresse.</h4>
                {{> agencesListInv}}
            </div>

   <div class="col-md-3">
    
            {{#if currentUser }}
            <h4>Toutes les agences</h4>
            {{> agencesList}}
                {{ else}}
                Non connecté
                {{/if }}


</div>

</div>
   </div>
</template>

