<template name="rassemblement">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
				{{> groupesList}}
            </div>
            <div class="col-md-3">
				{{> agencesList}}
            </div>
            <div class="col-md-3">
				{{> utilisateursListPourRassemblement}}
            </div>
            <div class="col-md-3">
				{{#if currentUser }}
					{{> agencesListArchive}}
				{{ else}}
                    Non connecté
				{{/if }}
            </div>
        </div>
    </div>
</template>

