<template name="agencesSearch">
    <div class="container">
        <form>
            <input name="raisonSocialeAgence" id="searchTerms" type="text" class= "form-control" value="" placeholder=" Raison sociale de l'agence"/>
            <button type="submit"  id="searchButton" >Rechecher</button>
        </form>
    </div>
    <div>
        {{#each agencesFind}}
            {{raisonSocialeAgence}}
        {{/each}}
    </div>

    <h2>Résultat de recherche: {{#each searchResult }} {{ raisonSocialeAgence }} {{ ville }} {{/each}} </h2>

</template>
