<template name="agenceNew">



    <div class="container">
        <form>
            <input name="groupe"  value="{{ this._id}}">
            <input name="raisonSocialeAgence" type="text" value="" placeholder=" Raison sociale de l'agence"/>
            <input name="ville" type="text" value="" placeholder=" Ville de l'agence"/>
            <input name="type" type="text" value="" placeholder=" Type de l'agence"/>
            <input name="adresse" type="text" value="" placeholder=" Adresse de l'agence"/>


            <input type="submit" value="Soumettre"/>
        </form>
    </div>
</template>
