
<template name="agenceEdit">

        <form>
            <input name="raisonSocialeAgence" type="text" value={{raisonSocialeAgence}} placeholder=" Raison sociale de l'agence"/>
            <input name="ville" type="text" value={{ville}} placeholder=" Ville de l'agence"/>
            <input name="type" type="text" value={{type}} placeholder=" Type de l'agence"/>
            <input name="adresse" type="text" value={{adresse}} placeholder=" Adresse de l'agence"/>


            <input type="submit" value="Update"/>
        </form>
</template>
