<template name="agenceEdit" xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-12" style="background-color:lavender;">
                <div class="container-fluid">
                    <div class="row">
                        <form role="form">

                            <div class="col-md-3">
                                randomId : {{agenceNew}} <br>
                                Groupe :{{groupeRaisonSociale}}<br>
                                Date de création: {{dateCreation}} <br>
                                Date de modification : {{dateModification}}<br>
                                _id : {{_id}}
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="form-group">

                                        <input name="raisonSocialeAgence" class="form-control"
                                               type="text"
                                               value={{raisonSocialeAgence}}
                                                       placeholder=" Raison sociale de lagence"/>
                                        <input name="ville" class="form-control" type="text"
                                               value={{ville}} placeholder=" Ville de l'agence "/>

                                        <select name="type" id="editType" type="text"
                                                class="form-control"
                                                value={{type}} placeholder=" Type de lagence">

                                        <option>Eurl</option>
                                        <option>Sarl</option>
                                        <option>Sa</option>
                                        <option>Sas</option>
                                        </select>

                                        <br>
                                        <input type="submit" class="btn btn-info btn-xs"
                                               value="Update"/>
                                        <button class="deleteAgence btn btn-warning btn-xs"
                                                name="deleteAgence"
                                                id="deleteAgence">
                                            Supprimer une agence à ce groupe
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <img alt="Brand" src="/logos/speed.jpg" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">

                                    <img alt="Brand" src="/logos/speed.jpg" class="img-responsive">
                                </div>
                            </div>

                        </form>

                    </div>

                </div>
            </div>
        </div>

    </div>


</template>
