<Template name="agencesListArchive">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Liste des Agences archivées</div>
                    <div class="panel-body">

    {{#if currentUser}}
        <a href="{{pathFor 'agencesSearch'}}">Chercher une agence</a>
        <a href="{{pathFor 'groupesList'}}">Rajouter une agence</a>
        <a href="{{pathFor 'agencesListArchive'}}">Trouver les agences archivées</a>
        
                      {{#if currentUser}}
        <h3>{{currentUser.username}} a: {{ agencesTotalParUttilisateur }} sur {{agencesTotal}} agences.</h3>
        {{/if}}
        <ul>
            {{#each archives}}
                <li>  Nom du groupe : {{groupeRaisonSociale}} // id du groupe : {{groupeId}}//  id agence : {{_id}}// {{raisonSocialeAgence}}
                    {{type}}
                  <b>{{archive}}</b>
                    {{# if adresse}}
                        {{adresse}}
                    {{else}}
                        <a href="{{pathFor 'agenceEdit'}}">Adresse à completer</a>

                    {{/if}}
                    {{ville}}
                    {{ref}}
                    {{# if currentUser }}
                        {{ username }}
                        <a href="{{pathFor 'agenceItem'}}">Item</a>
                  <button class="deleteItem btn btn-warning" id="deleteItem">Delete</button>
                  <button class="archiveItem btn btn-warning" id="archiveItem">Archive</button>

                    {{/if}}
                </li>
            {{/each}}
        </ul>

    {{/if}}
                    </div>
                </div>
            </div>
            </div>
</div>
</template>









