<Template name="toutesLesAgences">

        {{#if currentUser}}
            <h1>{{currentUser.username}} a: {{ agencesTotalParUttilisateur }} sur {{agencesTotal}} agences</h1>


            <a href="{{pathFor 'agenceSubmit'}}">Nouvelle agence</a>

                             <ul>
                        {{#each agencesParUtilisateur}}
                            <li> {{raisonSocialeAgence}}
                                {{type}}
                                {{# if adresse}}
                                    {{adresse}}
                                {{else}}
                                    <a href="{{pathFor 'agenceEdit'}}">Adresse à completer</a>

                                {{/if}}
                                {{ville}}
                                {{ref}}
                                    {{# if currentUser }}
                                        {{ username }}
                                        <a href="{{pathFor 'agenceEdit'}}">Edit</a>

                                    {{/if}}
                            </li>
                        {{/each}}
                    </ul>

        {{/if}}
</template>