<Template name="toutesLesAgences">
    <div class="container">
    <h1>Il y a: {{ agencesTotal }} agences</h1>
    <ul>
        {{#each agences}}
            <li> {{raisonSocialeAgence}}
                {{type}}
                {{# if adresse}}
                    {{adresse}}
                {{else}}
                    <a href="{{pathFor 'agenceEdit'}}">Adresse à completer</a>

                {{/if}}
                {{ville}}
                {{ref}}
                <a href="{{pathFor 'agenceEdit'}}">Edit</a>
            </li>
        {{/each}}
    </ul>
</div>
</Template>
