<Template name="utilisateursList">
	{{#if currentUser}}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">UtilisateursList.</div>
                        <div class="panel-body">
                            <ul>
								{{#each utilisateurs}}
                                    <li> {{currentUser.username}} {{ groupeId}} // agenceId : {{ agenceId}}
										// utilisateurId: {{utilisateurId}} // 
										{{nom}}</li>
								{{/each}}
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
	{{/if}}
</Template>


<Template name="utilisateursListSimple">
	{{#if currentUser}}
        <ul>
			{{#each utilisateurs}}
                <li> {{ groupeRaisonSociale}}
                    <a href="{{pathFor 'utilisateurItem'}}">{{nom}}</a></li>
			{{/each}}
        </ul>

	{{/if}}
</Template>

<Template name="utilisateursListPourRassemblement">
    {{#if currentUser}}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">utilisateursListPourRassemblement</div>
                        <div class="panel-body">
                            <ul>
                                {{#each utilisateurs}}
                                    <li> currentUser.username : {{currentUser.username}}<br>
                                        groupeId : {{ groupeId}}<br>
                                        agenceId : {{ agenceId}}<br>
                                        userId : {{_id}}<br>
                                        nom : <a href="{{pathFor 'utilisateurItem'}}">{{nom}}</a>
                                    </li>
                                {{/each}}
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</Template>






