<Template name="utilisateurItem">
    <div class="container">
                                randomId : {{agenceNew}} <br>
                                Groupe :{{groupeRaisonSociale}}<br>
                                Agence :{{raisonSocialeAgence}}<br>
                                Nom de l'utilisateur : {{nom}}<br>
                                Date de création: {{dateCreation}} <br>
                                Date de modification : {{dateModification}}<br>
                                _id : {{_id}}
                                

        
    </div>


</template>


