<Template name="groupesList">
    <div class="container-fluid">

                <div class="panel panel-default">
                    <div class="panel-heading">Liste des groupes</div>
                    <div class="panel-body">

						{{# if currentUser}}
                            <a href="{{pathFor 'groupeNew'}}">Nouveau groupe</a>
							{{# if totalGroupe ">0" }}
                                <a href="{{pathFor 'groupesSearch'}}">Chercher groupes</a>
							{{/if}}
						{{/if}}
						{{# if totalGroupe 1  }}
                            <h3>Il y a {{totalGroupe}} groupe.</h3>
						{{else }}
                            <h3>Il y a {{totalGroupe}} groupes.</h3>
						{{/if}}
                        <ul class="list-group" >
							{{#each groupes}}
                                <li class="list-group-item"> {{ raisonSociale}}   // <a href="{{pathFor 'groupeItem'}}">Show</a> <a
                                        href="{{pathFor 'groupeItem'}}">Créer une agence pour ce groupe.</a></li>
							{{/each}}
                        </ul>
                    </div>
                </div>

            </div>

</Template>

