<Template name="groupesList">
<div class="container">

    {{# if currentUser}}
        <a href="{{pathFor 'groupeNew'}}">Nouveau groupe</a>
        <a href="{{pathFor 'groupesSearch'}}">Chercher groupes</a>

        {{/if}}
    {{# if totalGroupe 1  }}
    <h3>Il y a {{totalGroupe}} groupe.</h3>
    {{else }}
    <h3>Il y a {{totalGroupe}} groupes.</h3>
    {{/if}}
    <ul>
        {{#each groupes}}
            <li>{{ raisonSociale}}   //  <a href="{{pathFor 'groupeItem'}}">Show</a>  <a href="{{pathFor 'groupeItem'}}">Créer une agence pour ce groupe.</a></li>
        {{/each}}
               </ul>
</div>
</Template>

